SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_KEY=eyJhbGciOiJFUzI1NiIsImtpZCI6ImI4MTI2OWYxLTIxZDgtNGYyZS1iNzE5LWMyMjQwYTg0MGQ5MCIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjIwODM5NTE1MTl9.TZgay6IcGW_DPbgw8UfUbWTHbqooXC_6VDS0KYD0FJEVLhVYBp9lUUo_fSk6iq3rFdimNJumrhIOMRl6rI9rkA