SUPABASE_URL=http://127.0.0.1:55321
SUPABASE_KEY=eyJhbGciOiJFUzI1NiIsImtpZCI6ImI4MTI2OWYxLTIxZDgtNGYyZS1iNzE5LWMyMjQwYTg0MGQ5MCIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjIwODQ4MDM0NzJ9.4zFB4PhqG3XNNffjaZwChR_2-Jzf_8U0UuOmHQ1gQJDCd34BKF8kfNByKybcThkavaan_VB5NWDV9t_Rpp03Mg